{% extends 'base.html.twig' %}

{% block title %}Développement Web{% endblock %}

{% block content %}
    <h1>Développement Web</h1>
    <p class="lead">Symfony 5, JavaScript, CSS</p>
    <p class="lead">WordPress, PrestaShop</p>
    <p class="lead">Maquettage, Illustrator, Photoshop</p>
    <p class="lead">Cloud AWS Amazon</p>

{% endblock %}
