{% extends 'base.html.twig' %}

{% block title %}VP Création : Web sous Symfony{% endblock %}

{% block content %}
    <h1>Création Web sous Symfony</h1>
    <p class="lead">Création d'applications web sous le Framework Symfony : performances et sécurités des applications.</p>

{% endblock %}
