{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
    <div class="vp-container-mentions">

        <h1>Site Internet</h1>
        <p>Nom du site : VP CREATION</p>
        <p>URL complète du site : https://vp-creation.fr</p>

        <h2>Propriétaire du site</h2>
        <p>VP CREATION - Parise Vincent</p>
        <p>Auto-Entrepreneur : Immatriculation en cours</p>
        <p>100 Chemin des Ecureuils</p>
        <p>73000 Chambéry</p>
        <p>E-mail : v.parise@vp-creation.fr</p>

        <h2>Publication du site</h2>
        <p>Publication : M. Vincent Parise</p>

        <h2>Concepteur du site</h2>
        <p>Site développé sous Symfony 5</p>
        <p>M. Vincent Parise</p>
        <p>Téléphone : 06 70 10 13 06</p>

        <h2>Hébergeur du site</h2>
        <p>AWS AMAZON : Utilisation des services Cloud Amazon</p>

        <h2>Accès à vos données à caractère personnel</h2>
        <p>Conformément à la loi n° 78–17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez du droit d’obtenir la communication et, le cas échéant, la rectification ou la suppression des données vous concernant, à travers un accès en ligne à votre dossier. Vous pouvez également vous adresser à :</p>
        <p>adresse de courrier électronique : v.parise@vp-creation.fr</p>
        <p>adresse de courrier postal : Parise Vincent</p>
        <p>100 Chemin des Ecureuils</p>
        <p>73000 Bassens</p>
        <p>Il est rappelé que toute personne peut, pour des motifs légitimes, s’opposer au traitement des données la concernant.</p>
    </div>

{% endblock %}
