<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Création Web sous Symfony">
    <meta name="author" content="Vincent Parise">
    <meta name="generator" content="Parise 0.0.1">
    <title>{% block title %}VP-Création : Dév Web sous Symfony{% endblock %}</title>
    <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet" >

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet" >

    <!-- ****** favicons générés par faviconit.com ****** -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/img/favicon-144.png">
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
    <!-- ****** favicons générés par faviconit.com ****** -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">VP CREATION</h3>
            {# <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Contact</a>
               </nav>
            #}
        </div>
    </header>

    <main class="px-3">
        {% block content %}

        {%  endblock %}
    </main>

    <footer class="mt-auto text-white-50">
        <p>@Copyright2020-2021</p>
    </footer>
</div>



</body>
</html>
